*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(102, 104, 104);
    height: 200vh;
}
/*------header section css----*/
.header{
    display: flex;
    align-items: self-end;
    height: 60px;
   background:rgb(93, 93, 198);
    padding-bottom: 5px;
}
.header .logo img{
    margin-top: 10px;
    margin-left: 20px;
    background-color: red;
    width: 130px;
}

.navbar ul{
    display: flex;
    column-gap: 30px;
    width: 40rem;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar ul li{
    
    text-align: center;
    height: 20px;
   
}
.navbar ul li a{
    text-decoration: none;
    font-size: larger;
    color: white;

}
.navbar ul li a:hover{
    color: red;
}
.right_nav{
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    width: 100%; 
   
}
.search_bar{
    display: flex;
    align-items: center;
    
    background-color: rgb(149, 146, 146);
    border-radius: 10px;
    padding-right: 10px;
    height:25px; 

}
.search_bar input{
    width: 30rem;
    height: 25px;
    border-style: none;
    outline: none;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   
}
.left_header{
    display: flex;
    gap: 2.5rem;
    align-items: self-end;
    justify-content: center;
    width: 100%;
}
.left_header .read{
    height: 2rem;
    width: 7rem;
    border-radius: 2.5rem;
    border-style: none;
}
.left_header .Sign{
    font-size: large;
    border: 1px solid black;
    height: 3rem;
    width: 8rem;
    box-shadow: -10px  5px 5px;

}
.home{
   
    position: relative;
    overflow: hidden;
    color: white;
}
.home #carousel{
  
   
}
.home #carousel .item img{
    height: 400px;

   
}

/* after animation */
.home .container{
    display: flex;
    flex-direction: column;
   
    height: 60px;
    
    margin-left: 10px;
    
}
.container h2{
    margin-left: 10px;
    font-size: 20px;
}
.container .icon i img{
    background-color: white;
    border-radius: 20px;
    padding: 3px;
    width: 30px;
}
 .Trending{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
 }
.Trending .movie{
    display: flex;
    gap: 20px;
}
.Trending h2 i{
    color: yellow;
}
.Trending .movie img{
    width: 300px;
}
