@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url('./assets/Vectary texture.png');
    height: 100vh;
}

.header__banner_left > img{
    width: 100px;
    height: 100px;
    /* border: 3rem solid #fff;
    border-radius: 50%; */
    position: relative;
    /* top: 20rem;
    left: 10rem; */
}


/* parent header */

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    border: 1px solid red;
}
.header__banner_right h2{
    text-align: center;
    text-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.43);
    font-family: Zen Dots;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__streaming__button{
    border: 3px solid #000;
    background: #010202;
    box-shadow: 0px 4px 4px 0px rgba(73, 235, 59, 0.35);

    color: #FBF9F9;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: .2rem 3rem;
}

.header__streaming__button{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: 0 auto;
}
.header__banner_right{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* signup and sign in css */

.main__div {
    
    border-radius: 43px;
background: linear-gradient(180deg, #421717 0%, rgba(209, 160, 160, 0.00) 100%);
width: 700px ;
margin-left: 4em ;
margin-right:0cm ;
flex-shrink: 0;
margin: 6px;
padding: 2rem;
}

.user {
    width: 226px;
height: 40px;
flex-shrink: 0;
color: #969696;
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 36px */
}
.username__div{
    padding: 4%;
    width: 453px;
height: 67px;
flex-shrink: 0;
border-radius: 31px;
background: #D9D9D9;
}

.signup__div{
    margin: auto;
    width: 535px;
height: 87px;
flex-shrink: 0;
border-radius: 33px;
background: #7D80DA;
}
.sign__style{
    width: 247px;
height: 53px;
flex-shrink: 0;
color: #090101;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 40px */
}
.ending{
    width: 391px;
height: 70px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 24px */
}